sfd/data/SFD_dust_4096_ngp.fits filter=lfs diff=lfs merge=lfs -text
sfd/data/SFD_dust_4096_sgp.fits filter=lfs diff=lfs merge=lfs -text
sfd/data/ps1-ebv-4.5kpc.fits filter=lfs diff=lfs merge=lfs -text
